.sitemap ul, li {
  margin: 0;
  padding: 0;
  }
.sitemap > li > ul {
  margin-top: 1.5rem;
  }
.sitemap ul {
  list-style: none;
  }
.sitemap ul li {
  line-height: 1.5rem;
  vertical-align: top;
  position: relative;
  }
.sitemap ul li a {
  text-decoration: none;
  color: #666;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  }
.sitemap ul li a:hover {
    color: #09519a;
    text-decoration: underline;
}
.sitemap ul ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  }
.sitemap ul ul li {
  position: relative;
  }
.sitemap ul ul li::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 100%;
  border-left: 1px #ccc solid;
  position: absolute;
  top: -0.75rem;
  }
.sitemap ul ul li::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
  border-bottom: 1px #ccc solid;
  position: absolute;
  top: -0.38rem;
  }
.sitemap ul ul li a {
  margin-left: 3.75rem;
  }